{% extends 'base2.html' %}

{% load widget_tweaks %}
{% block content2 %}



<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Create Your Pizza</h1>
                    <form action="." method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.field.widget.input_type != 'checkbox' %}
                                <div class="form-group mb-3">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field|add_class:"form-control" }}
                                    {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <label for="toppings">Toppings</label>
                        {% for field in form %}
                            {% if field.field.widget.input_type == 'checkbox' %}
                                <div class="form-check mb-3">
                                    {{ field|add_class:"form-check-input" }}
                                    <label class="form-check-label" for="{{ field.id_for_label }}">
                                        {{ field.label }}
                                    </label>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <button type="submit" class="btn btn-primary w-100">Create Pizza</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}